body {
  font-family: Arial, sans-serif;
  background-color: #transparent;
}
#calculator {
  max-width: 400px;
  height: 365px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}
button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #3d9bf4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}
button[type="submit"]:hover {
  background-color: #0062cc;
}
#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
